
.profile .posts:hover{
  background-color: rgba(179, 236, 236, 0.15);
}

.posts .active {
  border-bottom: #35bdb9 solid;
  border-top-width: 2px;
}

.row .post{
  width: calc(25% - 1rem);
  margin: 0 0.5rem;
  height: 16rem;
}
